<ion-content>


<ion-item>
  <ion-label style="text-align: center;">
        <b>CONVERSAS</b>
  </ion-label>
  <ion-reorder slot="end"></ion-reorder>
</ion-item>





<ion-input></ion-input>

<ion-item>
    <ion-label>
          CONTATO
    </ion-label>
  </ion-item>

<ion-input placeholder="DIGITE AQUI"></ion-input>
</ion-content>



