<!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-label><b>ZapZap</b></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Usuario </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Senha</ion-label>
  </ion-item>
    <ion-item>
      <ion-button [routerLink]="['/pag1'] " color="primary">ENTRAR</ion-button>
  </ion-item>
</ion-list>